<h1>Search [ <%= @word %> ] Result</h1>
<% if @search_items %>
  <%= will_paginate @search_items %>
  <ol class="microposts">
    <%= render @search_items %>
  </ol>
  <%= will_paginate @search_items %>
<% else %>
  <h3>検索結果はありません</h3>
<% end %>
